<div class="container">

<h1>レビュー&リプライ</h1>

<%= form_with(url: admins_reviews_path, method: :get) do |form| %>
  <div class="input-group mb-3">
    <%= form.text_field :search, placeholder: "キーワードを入力", class: "form-control" %>
    <div class="input-group-append">
      <%= form.submit "検索", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Content</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.user.nickname %></td>
        <td><%= review.content %></td>
        <td>
          <%= link_to 'レビュー編集へ', admins_review_path(review), class: 'btn btn-primary' %>
        </td>
      </tr>
      <% review.replies.each do |reply| %>
        <tr>
          <td><%= reply.user.nickname %></td>
          <td><%= reply.content %></td>
          <td>
            <%= link_to 'リプライ編集へ', admins_review_path(reply.review), class: 'btn btn-success' %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

</div>
