<h1>レビュー編集</h1>

<p><strong>User:</strong> <%= @review.user.nickname %></p>
<p><strong>Content:</strong> <%= @review.content %></p>
<%= link_to 'Review-Delete', admins_review_path(@review), method: :delete, data: { confirm: 'このレビューを削除してもよろしいでしょうか?' }, class: "btn btn-danger" %>


<h2>リプライ編集</h2>

<% @replies.each do |reply| %>
  <div class="reply">
    <p><strong>User:</strong> <%= reply.user.nickname %></p>
    <p><strong>Content:</strong> <%= reply.content %></p>
    <%= link_to 'Reply-Delete', admins_reply_path(reply), method: :delete, data: { confirm: 'このリプライを削除してもよろしいでしょうか?' }, class: "btn btn-danger" %>
  </div>
<% end %>

<%= link_to 'Back', admins_reviews_path, class: "btn btn-primary" %>
