<div class="container">
  <h1>ユーザー情報編集</h1>
  <%= alert %>

  <%= form_with(model: @user, url: publics_user_path(@user), method: :patch) do |form| %>
    <div class="form-group">
      <%= form.label :last_name, "性" %>
      <%= form.text_field :last_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :first_name, "名" %>
      <%= form.text_field :first_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :last_name_katakana, "セイ" %>
      <%= form.text_field :last_name_katakana, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :first_name_katakana, "メイ" %>
      <%= form.text_field :first_name_katakana, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :nickname, "ニックネーム" %>
      <%= form.text_field :nickname, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :post_code, "郵便番号" %>
      <%= form.text_field :post_code, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :address, "住所" %>
      <%= form.text_field :address, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :phone_number, "電話番号" %>
      <%= form.text_field :phone_number, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :profile, "一言コメント" %>
      <%= form.text_area :profile, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :email, "メールアドレス" %>
      <%= form.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :profile_image, 'Profile Image' %>
      <%= form.file_field :profile_image, class: "form-control-file" %>
      <% if @user.profile_image.attached? %>
        <p>Current Image:</p>
        <%= image_tag @user.profile_image.variant(resize: '200x200') %>
      <% else %>
        <p>No Image</p>
      <% end %>
    </div>

    <div class="form-group">
      <%= form.submit 'Update User', class: "btn btn-primary" %>
    </div>
  <% end %>

<div class="form-group">
  <%= button_to 'Delete User', publics_user_path(@user), method: :delete, data: { confirm: '退会しますか?（データは全て削除されます）' }, class: "btn btn-danger" %>
</div>

<div class="form-group">
  <%= link_to 'Back', publics_user_path(@user), class: "btn btn-secondary" %>
</div>

</div>
