<h1>ユーザー一覧</h1>

<%= form_with url: publics_users_path, method: :get, class: 'boards__searchForm' do |form| %>
  <div class="input-group mb-3">
    <%= form.text_field :keyword, value: params[:keyword], placeholder: 'ニックネームで検索', class: 'form-control' %>
    <div class="input-group-append">
      <%= form.submit '検索', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" style="width: 13%;">ニックネーム</th>
      <th scope="col">一言コメント</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col" style="width: 10%;">フォロー</th>
      <th scope="col" style="width: 10%;">フォロワー</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if user.profile_image.attached? %>
            <%= image_tag user.profile_image.variant(resize: '100x100'), class: 'img-thumbnail' %>
          <% else %>
            <%= image_tag 'no_image.jpg', class: 'img-thumbnail' %>
          <% end %>
        </td>
        <td style="width: 20%;"><%= user.nickname %></td>
        <td>
          <% if user.profile? %>
            <%= simple_format user.profile %>
          <% else %>
            No comment
          <% end %>
        </td>
        <td><%= link_to '詳細', publics_user_path(user), class: 'btn btn-secondary' %></td>
        <td style="width: 15%;">
          <% if user.id != current_user.id %>
            <% if current_user.following?(user) %>
              <%= link_to 'フォローを外す', publics_user_follows_path(user), method: :delete, class: 'btn btn-danger' %>
            <% else %>
              <%= link_to 'フォローをする', publics_user_follows_path(user), method: :post, class: 'btn btn-primary' %>
            <% end %>
          <% end %>
        </td>
        <td style="width: 15%;">フォロー: <%= link_to user.followings.count, publics_user_followings_path(user), class: 'btn btn-outline-info' %></td>
        <td style="width: 15%;">フォロワー: <%= link_to user.followers.count, publics_user_followers_path(user), class: 'btn btn-outline-info' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
