<h1>ユーザー一覧</h1>
<%= form_tag publics_users_path, method: :get, class: 'boards__searchForm' do %>
<%= text_field_tag :keyword, params[:keyword], placeholder: 'ニックネームで検索' %>
<%= submit_tag '検索' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>プロフ画像</th>
      <th>ニックネーム</th>
      <th>一言コメント</th>
      <th>詳細</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if user.profile_image.attached? %>
            <%= image_tag user.profile_image.variant(resize: '100x100') %>
          <% else %>
            No Image
          <% end %>
        </td>
        <td><%= user.nickname %></td>
        <td>
          <% if user.profile? %>
            <%= user.profile %>
          <% else %>
            No comment
          <% end %>
        </td>
        <td><%= link_to 'View', publics_user_path(user) %></td>
        <td>フォロー数: <%= user.followings.count %></td>
        <td>フォロワー数: <%= user.followers.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
