<h1>ユーザー一覧</h1>

<%= form_with url: publics_users_path, method: :get, class: 'boards__searchForm' do |form| %>
  <div class="input-group mb-3">
    <%= form.text_field :keyword, value: params[:keyword], placeholder: 'ニックネームで検索', class: 'form-control' %>
    <div class="input-group-append">
      <%= form.submit '検索', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">プロフ画像</th>
      <th scope="col">ニックネーム</th>
      <th scope="col">一言コメント</th>
      <th scope="col">詳細</th>
      <th scope="col">フォロー</th>
      <th scope="col">フォロワー</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if user.profile_image.attached? %>
            <%= image_tag user.profile_image.variant(resize: '100x100'), class: 'img-thumbnail' %>
          <% else %>
            No Image
          <% end %>
        </td>
        <td><%= user.nickname %></td>
        <td>
          <% if user.profile? %>
            <%= user.profile %>
          <% else %>
            No comment
          <% end %>
        </td>
        <td><%= link_to 'View', publics_user_path(user), class: 'btn btn-secondary' %></td>
        <td>フォロー: <%= link_to user.followings.count, publics_user_followings_path(user), class: 'btn btn-outline-info' %></td>
        <td>フォロワー: <%= link_to user.followers.count, publics_user_followers_path(user), class: 'btn btn-outline-info' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

