<div class="container">
  <h1>フォロー一覧</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">ニックネーム</th>
        <th scope="col">一言コメント</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <% if user.profile_image.attached? %>
              <%= image_tag user.profile_image.variant(resize: '100x100'), class: 'img-thumbnail' %>
            <% else %>
              <%= image_tag 'no_image.jpg', class: 'img-thumbnail' %>
            <% end %>
          </td>
          <td><%= user.nickname %></td>
          <td>
            <% if user.profile? %>
              <%= simple_format user.profile %>
            <% else %>
              No comment
            <% end %>
          </td>
          <td><%= link_to '詳細', publics_user_path(user), class: 'btn btn-success' %></td>
          <td>
            <% if user.id != current_user.id %>
              <% if current_user.following?(user) %>
                <%= link_to 'フォロー外す', publics_user_follows_path(user), method: :delete, class: 'btn btn-danger' %>
              <% else %>
                <%= link_to 'フォローする', publics_user_follows_path(user), method: :post, class: 'btn btn-primary' %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
