<div class="container">
  <h1 class="mb-4">ラーメンショップ一覧</h1>

  <%= form_with url: publics_shops_path, method: :get, class: 'boards__searchForm' do |f| %>
    <div class="input-group mb-3">
      <%= f.text_field :keyword, value: params[:keyword], placeholder: "キーワードを入力(店名や住所）", class: "form-control" %>
      <div class="input-group-append">
        <%= f.submit '検索', class: "btn btn-primary" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name, { include_hidden: false, class: "form-check-input" } %>
    </div>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">店舗名</th>
        <th scope="col">住所</th>
        <th scope="col">リンク</th>
        <th scope="col">ジャンルタグ</th>
      </tr>
    </thead>
    <tbody>
      <% @shops.each do |shop| %>
        <tr>
          <td>
            <% if shop.shop_image.attached? %>
              <%= image_tag shop.shop_image.variant(resize: '100x100'), class: "img-thumbnail" %>
            <% else %>
              <%= image_tag 'no_image.jpg', class: 'img-thumbnail' %>
            <% end %>
          </td>
          <td><%= shop.name %></td>
          <td><%= shop.address %></td>
          <td>
            <%= link_to '詳細', publics_shop_path(shop), class: "btn btn-success" %>
          </td>
          <td>
            <% shop.genres.each do |genre| %>
              <span class="badge badge-primary"><%= genre.name %></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
