<h1>ラーメン屋一覧</h1>

<%= form_with url: publics_shops_path, method: :get, class: 'boards__searchForm' do |f| %>
  <div class="search-box">
    <%= f.text_field :keyword, value: params[:keyword], placeholder: "キーワードを入力" %>

    <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name, {include_hidden: false,class:"form-check-input"} %>
    <%= f.submit '検索' %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>店舗名</th>
      <th>リンク</th>
      <th>ジャンルタグ</th>
    </tr>
  </thead>
  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td>
          <% if shop.shop_image.attached? %>
            <%= image_tag shop.shop_image.variant(resize: '100x100') %>
          <% else %>
            No Image
          <% end %>
        </td>
        <td><%= shop.name %></td>
        <td>
          <%= link_to '詳細リンク', publics_shop_path(shop) %>
        </td>
        <td>
          <% shop.genres.each do |genre| %>
            <%= genre.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
</table>
