<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Ramens</title>
  <script src="https://kit.fontawesome.com/56066c9124.js" crossorigin="anonymous"></script>
</head>

<div class="container">
  <div class="text-center">
    <h1>店舗詳細</h1>

    <div class="mb-4">
      <% if @shop.shop_image.attached? %>
        <%= image_tag @shop.shop_image.variant(resize: '500x500'), class: 'img-thumbnail' %>
      <% else %>
        <%= image_tag 'no_image.jpg', class: 'img-thumbnail' %>
      <% end %>
    </div>

    <div class="mb-4">
      <% @shop.noodle_images.each do |image| %>
        <%= image_tag image.variant(resize: '200x200'), class: 'img-thumbnail' %>
      <% end %>
    </div>
  </div>

  <div class="text-center">
    <h2 class="display-4">----Shop Information----</h2>
    <h1 class="display-3">店舗名：<%= @shop.name %></h1>

    <p class="lead">店舗説明：<%= @shop.explanation %></p>

    <p class="lead">ジャンルタグ:
      <% @shop.genres.each do |genre| %>
        <span class="badge badge-primary"><%= genre.name %></span>
      <% end %>
    </p>

    <div class="row justify-content-center">
      <div class="col-6">
        <p class="font-size-sm">電話番号: <%= @shop.phone_number %></p>
      </div>
      <div class="col-6">
        <p class="font-weight-bold">開店時間: <%= @shop.open_time.strftime("%H:%M") %></p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-6">
        <p class="font-size-sm">
          住所: 〒<%= @shop.post_code %> <%= @shop.address %>
        </p>
      </div>
      <div class="col-6">
        <p class="font-weight-bold">閉店時間: <%= @shop.close_time.strftime("%H:%M") %></p>
      </div>
    </div>
  </div>

  <h2 class="mt-5"><i class="fa-regular fa-star-half-stroke"></i>Reviews<i class="fa-regular fa-star-half-stroke"></i></h2>

  <% @shop.reviews.each do |review| %>
    <div class="media border border-dark mt-4">
      <% if review.user.profile_image.attached? %>
        <%= image_tag review.user.profile_image.variant(resize: '50x50'), class: 'mr-3 rounded-circle' %>
      <% else %>
        <%= image_tag 'no_image.jpg', size: '50x50', class: 'mr-3 rounded-circle' %>
      <% end %>
      <div class="media-body">
        <h5 class="mt-0">⚫️<%= review.user.nickname %></h5>
        <p><%= review.content %></p>

        <div id="star_<%= review.id %>"></div>
        <script>
          $(document).on('turbolinks:load', function() {
            let elem = document.querySelector('#star_<%= review.id %>');
            if (elem == null) return;

            elem.innerHTML = "";
            let opt = {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: "<%= review.star %>",
              readOnly: true,
            };
            raty(elem, opt);
          });
        </script>

        <% if review.user == current_user %>
          <div class="review-actions">
            <%= link_to 'レビューの編集', edit_publics_shop_review_path(review.shop_id, review.id), class: 'btn btn-success btn-sm' %>
          </div>
        <% end %>

        <% if review.replies.any? %>
          <br />
          <div class='text-decoration-underline' style="font-size: 20px;">
            <i class="fa-regular fa-comments"></i> Reply <i class="fa-regular fa-comments"></i>
          </div>
        <% end %>

        <% review.replies.each do |reply| %>
          <div class="media border border-dark mt-4">
            <% if reply.user.profile_image.attached? %>
              <%= image_tag reply.user.profile_image.variant(resize: '50x50'), class: 'mr-3 rounded-circle' %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: '50x50', class: 'mr-3 rounded-circle' %>
            <% end %>
            <div class="media-body">
              <h5 class="mt-0">⚫️<%= reply.user.nickname %></h5>
              <p><%= reply.content %></p>
              <% if reply.user == current_user %>
                <div class="review-actions">
                  <%= link_to 'リプライの編集', edit_publics_reply_path(reply), class: 'btn btn-success btn-sm' %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <br />

        <% if user_signed_in? && review.user != current_user %>
          <div class="reply-form">
            <%= form_with(model: review.replies.new, url: publics_replies_path(review), method: :post, class: 'mb-3') do |form| %>
              <%= form.hidden_field :review_id, value: review.id %>
              <%= form.text_field :content, class: 'form-control', placeholder: '返信を入力' %>
              <%= form.submit 'Reply', class: 'btn btn-primary btn-sm' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

<% if user_signed_in? %>
  <div class="text-center mt-5">
    <%= link_to 'この店舗のレビューを書く', new_publics_shop_review_path(shop_id: @shop.id), class: 'btn btn-primary' %>
  </div>
<% end %>
</div>

</html>