<h1>ユーザー詳細</h1>
<%= notice %>

<ul class="user-info">
    <li class="info-item">ID: <%= @user.id %></li>
    <li class="info-item">性: <%= @user.last_name %></li>
    <li class="info-item">名: <%= @user.first_name %></li>
    <li class="info-item">セイ: <%= @user.last_name_katakana %></li>
    <li class="info-item">メイ: <%= @user.first_name_katakana %></li>
    <li class="info-item">ニックネーム: <%= @user.nickname %></li>
    <li class="info-item">郵便番号: <%= @user.post_code %></li>
    <li class="info-item">住所: <%= @user.address %></li>
    <li class="info-item">電話番号: <%= @user.phone_number %></li>
    <li class="info-item">プロフィール: <%= @user.profile %></li>
    <li class="info-item">Email: <%= @user.email %></li>
    <li class="info-item">Created At: <%= @user.created_at %></li>
    <li class="info-item">Updated At: <%= @user.updated_at %></li>
  </ul>

<div class="mt-4">
  <h2>Reviews</h2>
  <% if @user.reviews.any? %>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Shop</th>
            <th>Content</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <% @user.reviews.each do |review| %>
            <tr>
              <td><%= link_to review.shop.name, admins_shop_path(review.shop) %></td>
              <td><%= link_to review.content, admins_review_path(review) %></td>
              <td>
                <div id="star_<%= review.id %>"></div>
                <script>
                  $(document).on('turbolinks:load', function() {
                    let elem = document.querySelector('#star_<%= review.id %>');
                    if (elem == null) return;

                    elem.innerHTML = "";
                    let opt = {
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                      starHalf: "<%= asset_path('star-half.png') %>",
                      score: "<%= review.star %>",
                      readOnly: true,
                    };
                    raty(elem, opt);
                  });
                </script>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <p>まだレビューはありません。</p>
  <% end %>
</div>

<%= link_to '編集リンク', edit_admins_user_path(@user), class: 'btn btn-success' %>
<%= link_to '戻る', admins_users_path, class: 'btn btn-primary' %>
