<h1>店舗詳細</h1>

<%= link_to '編集リンク', edit_admins_shop_path(@shop), class: "btn btn-success" %>

<div>
  <% if @shop.shop_image.attached? %>
    <%= image_tag @shop.shop_image.variant(resize: '500x500'), class: "img-thumbnail" %>
  <% else %>
    No Image
  <% end %>
</div>

<div>
  <% @shop.noodle_images.each do |image| %>
    <%= image_tag image.variant(resize: '200x200'), class: "img-thumbnail" %>
  <% end %>
</div>

<div>
  <h2>Shop Information</h2>
  <ul>
    <li>Created At: <%= @shop.created_at %></li>
    <li>Updated At: <%= @shop.updated_at %></li>
    <li>店舗名: <%= @shop.name %></li>
    <li>店舗説明: <%= @shop.explanation %></li>
    <li>郵便番号: <%= @shop.post_code %></li>
    <li>住所: <%= @shop.address %></li>
    <li>電話番号: <%= @shop.phone_number %></li>
    <li>開店時間: <%= @shop.open_time.strftime("%H:%M") %></li>
    <li>閉店時間: <%= @shop.close_time.strftime("%H:%M") %></li>

    <li>
      <strong>ジャンルタグ：</strong>
      <% @shop.genres.each do |genre| %>
      <%= genre.name %>
    </li>
  <% end %>
  </ul>
</div>

<%= link_to 'Back', admins_shops_path, class: "btn btn-primary" %>
