<h1>Edit Review</h1>

<%= form_with(model: [:publics,  @review]) do |form| %>
  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <%= form.hidden_field :shop_id, value: @review.shop_id %>

  <div>
    <%= form.submit 'Update Review' %>
    <%= link_to 'Delete Review', publics_review_path(@review), method: :delete, data: { confirm: 'この投稿を削除してもよろしいでしょうか?' } %>
  </div>
<% end %>