<h1>New Review</h1>

<%= form_with(model: [:publics, @review]) do |form| %>
  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <%= form.hidden_field :shop_id, value: params[:shop_id] %>

  <div>
    <%= form.submit 'Submit Review' %>
  </div>
<% end %>
